name: Build Marlin Firmware

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install PlatformIO
      run: |
        pip install platformio

    - name: Build Marlin
      run: |
        platformio run
